:root {
    --cell-size: 32px;
    --game-width: calc(var(--grid-width) * var(--cell-size));
}

#game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#stat-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

#end-overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(0 0 0 / 70%);
    width: calc(var(--grid-height) * var(--cell-size));
    height: calc(var(--grid-height) * var(--cell-size));
    margin: 1rem;
    z-index: 1;
}

#grids-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.game-grid {
    display: grid;
    width: var(--game-width);
    grid-template-columns: repeat(var(--grid-width), var(--cell-size));
    grid-template-rows: repeat(var(--grid-height), var(--cell-size));
    padding: 1rem;
    background-color: var(--dark-color);
    border-radius: 1rem;
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    background-size: cover;
    background-repeat: no-repeat;
}

.cell:hover {
    filter: brightness(120%);
}

.cell.unrevealed { background-image: url(/assets/images/unrevealed.png); }
.cell.revealed { background-image: url(/assets/images/revealed.png); }
.cell.bomb { background-image: url(/assets/images/bomb.png); }
.cell.flagged { background-image: url(/assets/images/flagged.png); }
.cell.revealed-1 { background-image: url(/assets/images/1.png); }
.cell.revealed-2 { background-image: url(/assets/images/2.png); }
.cell.revealed-3 { background-image: url(/assets/images/3.png); }
.cell.revealed-4 { background-image: url(/assets/images/4.png); }
.cell.revealed-5 { background-image: url(/assets/images/5.png); }
.cell.revealed-6 { background-image: url(/assets/images/6.png); }
.cell.revealed-7 { background-image: url(/assets/images/7.png); }
.cell.revealed-8 { background-image: url(/assets/images/8.png); }

#button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    width: var(--grid-width);
    gap: 10px;
}

#button-container button {
    text-wrap: nowrap;
    width: 100%
}