#settings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    --inputs-grid: 3fr 2fr;
}

#settings-inputs {
    display: grid;
    grid-template-columns: var(--inputs-grid);
    width: 60%;
    margin-bottom: 2rem;
    row-gap: 5px;
}

#range-wrapper {
    display: grid;
    grid-template-columns: auto 4ch;
    gap: 10px;
    align-items: center;
}

#settings-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    width: 60%;
}

#settings-buttons button {
    width: 100%;
    text-wrap: nowrap;
}

@media screen and (max-width: 425px) {
    #settings-inputs {
        grid-template-columns: none;
        grid-template-rows: var(--inputs-grid);
    }
    #header-title h1 {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 320px) {
    #settings-buttons button {
        text-wrap: wrap;
    }
    #header-title h1 {
        display: none;
    }
}