#start-body {
    height: 100%;
}

#mode-select {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 1rem;
}

#mode-select button {
    width: 40%;
}

#settings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    --inputs-grid: 3fr 2fr;
}

#settings-inputs {
    display: grid;
    grid-template-columns: var(--inputs-grid);
    width: 60%;
    margin-bottom: 2rem;
    row-gap: 5px;
}

#range-wrapper {
    display: grid;
    grid-template-columns: auto 4ch;
    gap: 10px;
    align-items: center;
}

#settings-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    width: 60%;
}

#settings-buttons button {
    width: 100%;
    text-wrap: nowrap;
}

[invalid=true] {
    border-color: red !important;
    background-color: rgb(161, 77, 77) !important;
}

#lobby-list {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#lobby-list #opts {
    height: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

#lobby-list #opts input { height: 1rem; }

#cards {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#cards .lobby-card {
    display: grid;
    width: 90%;
    height: 2rem;
    padding: .5rem;
    grid-template-columns: 3fr 1fr 1fr;
    align-items: center;
    background-color: var(--dark-color);
    border-radius: 1rem;
    border: var(--medium-color) inset 1px;
}

#cards .lobby-card span {
    align-content: center;
    padding: .5rem;
    border-right: 1px var(--highlight-color) solid;
}

#cards .lobby-card button {
    height: 2rem;
    width: 5rem;
    margin: auto;
}

@media screen and (max-width: 500px) {
    #settings-inputs {
        grid-template-columns: none;
        grid-template-rows: var(--inputs-grid);
    }
    #header-title h1 {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 320px) {
    #settings-buttons button {
        text-wrap: wrap;
    }
    #header-title h1 {
        display: none;
    }
}