@main("Minesweeper") {
	<link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/game.css")'>
    <script defer src='@routes.Assets.versioned("javascripts/game.js")' type="text/javascript"></script>
	<div id="game">
		<div id="stat-container">
			<h2>Time: {{elapsed}}s</h2>
			<h2>Undos: {{ undos }}</h2>
		</div>
		
		<div id="grids-container">
			<div v-if="end" id="end-overlay">
				<h1>You {{end}}!</h1>
				<button @@click="retry()">Retry</button>
			</div>
			<game-grid ref="game_grid"></game-grid>
		</div>
		
		<div id="button-container">
			<button @@click="main_menu()">Main Menu</button>
			<button :disabled="end || undos === 0" @@click="undo()">Undo</button>
			<button :disabled="end" @@click="redo()">Redo</button>
		</div>
	</div>
}
