@main("Minesweeper") {
	<link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/game.css")'>
	<style>
		:root {
			--grid-width: 0;
			--grid-height: 0;
		}
	</style>
	<script>
		const imageBasePath = '@routes.Assets.versioned("images/")';
	</script>
    <script defer src='@routes.Assets.versioned("javascripts/game.js")' type="text/javascript"></script>
	<div id="game">
		<div id="stat-container">
			<h2>Time: {{elapsed}}s</h2>
			<h2>Undos: {{ undos }}</h2>
		</div>
		<div id="grid-container">
			<img v-for="cell in cells" :src="getCellImgClass(cell.cell).img" class="cell"
			:class="getCellImgClass(cell.cell).class" alt="cell" 
			width="32px" height="32px" :cell-x="cell.x" :cell-y="cell.y"
			v-on:click="reveal($event)" @@contextmenu.prevent="flag($event)">
		</div>
		<div id="button-container">
			<button v-on:click="main_menu()">Main Menu</button>
			<button v-on:click="undo()">Undo</button>
			<button v-on:click="redo()">Redo</button>
		</div>
	</div>
}
