@(params: GameViewParams)

@main("Minesweeper") {
	<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/game.css")">
	<style>
		:root {
			--grid-width: @params.width;
			--grid-height: @params.height;
		}
	</style>
	<div id="game">
		<h2>Score: 0</h2>
		<div id="grid-container">
			@for((x, y, cell) <- params.cells) {
				@if(cell.isRevealed){
					@if(cell.isBomb) {
						<img
							src="@routes.Assets.versioned("images/bomb.png")"
							alt="cell"
							width="32px" height="32px"
							class="cell"
							x="@x" y="@y"
						>
					} else if (cell.nearbyBombs == 0) {
						<img
							src="@routes.Assets.versioned("images/revealed.png")"
							alt="cell"
							width="32px" height="32px"
							class="cell"
							x="@x" y="@y"
						>
					} else {
						<img
							src="@routes.Assets.versioned("images/" + cell.nearbyBombs.toString + ".png")"
							alt="cell"
							width="32px" height="32px"
							class="cell"
							x="@x" y="@y"
						>
					}
				} else if (cell.isFlagged) {
					<img
						src="@routes.Assets.versioned("images/flagged.png")"
						alt="cell"
						width="32px" height="32px"
						class="cell"
						x="@x" y="@y"
					>
				} else {
					<img
						src="@routes.Assets.versioned("images/unrevealed.png")"
						alt="cell"
						width="32px" height="32px"
						class="cell"
						x="@x" y="@y"
						onclick="reveal(this)"
					>
				}
			}
		</div>
		<div id="button-container">
			<button onclick="main_menu()">Main Menu</button>
			<button onclick="undo()">Undo</button>
			<button onclick="redo()">Redo</button>
		</div>
	</div>
}
