@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/main.css")'>
        <link rel="shortcut icon" type="image/png" href='@routes.Assets.versioned("images/favicon.png")'>
        <script defer src='@routes.Assets.versioned("javascripts/main.js")' type="text/javascript"></script>
        <script src="https://unpkg.com/vue@@3/dist/vue.global.js"></script>
    </head>

    <body>
        <header>
            <div id="header-title">
                <a href="/"><img id="logo" src='@routes.Assets.versioned("images/favicon.png")' alt="minesweeper logo" width="32px" height="32px" title="go back"></a>
                <h1>Minesweeper</h1>
            </div>
            <div>
                <a href="https://github.com/bafto/minesweeper-web" target="_blank">
                    <img invert src='@routes.Assets.versioned("images/github.svg")' alt="github logo" width="32px" height="32px" title="Github">
                </a>
            </div>
        </header>

        <main>
            @content
        </main>

        <footer>
            <a href="/about">Über Minesweeper</a>
        </footer>
    </body>

</html>
