@main("Start Game") {
<script defer src='@routes.Assets.versioned("javascripts/start.js")' type="text/javascript"></script>
<link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/settings.css")'>
<form id="settings" @@submit.prevent="">
	<h2>Board Settings</h2>
	<div id="settings-inputs">
		<label>Board Width:</label>
		<input v-model="width" type="number" :invalid="!width" required min="1" max="32" />

		<label>Board Height:</label>
		<input v-model="height" type="number" :invalid="!height" required min="1" max="32" />

		<label>Bomb Chance:</label>
		<div id="range-wrapper">
			<input type="range" v-model="bomb_chance" required step="0.01" min="0" max="1" />
			<output>{{ (bomb_chance * 100).toFixed(0) }}%</output>
		</div>

		<label>Max Undos:</label>
		<input type="number" v-model="max_undos" :invalid="max_undos===''" required min="0" max="10" />
	</div>

	<div id="settings-buttons">
		<button v-on:click="startGame()" :disabled="!width || !height || max_undos===''">Start Singleplayer</button>
		<button disabled title="Currently not implemented">Create Multiplayer Lobby</button>
	</div>
</form>
}
